{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}
{% block contenido%}
<section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="col-lg-10 col-md-11 mx-auto">
              <div class="detail-box">
                <div>
                  <p>
                  <br> Yo, Amón, soy un Ingeniero Eléctrico con orientación en electrónica, me dedico a dirigir proyectos en una empresa de que fabrica dispositivos implantables. Me encuentro haciendo
                  una maestría en diseño de circuitos para dispositivos implantables. Soy de Uruguay y tengo 31 años.
                     
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block header %}
    <h1>Bienvenido</h1>
    <style>
        font-family: Arial, sans-serif;
        align = "center"
    </style>
{% endblock %}

</html>