{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}
{% block contenido%}
<section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="col-lg-10 col-md-11 mx-auto">
              <div class="detail-box">
                <div>
                  <p>
                    Somos EXCELY, compañía dedicada a la gestión de insumos con atención personalizada a todos nuestros clientes. El creador del sitio web de nuestro emprendimiento es Amón Torrado y su proyecto consta de un sitio web ajustado a las necesidades de empresas con manejo de clientes 
                    que deben mantener seguimiento de inventarios de diferentes productos y las ventas realizadas.<br> Yo, Amón, soy un Ingeniero Eléctrico con orientación en electrónica, me dedico a dirigir proyectos en una empresa de que fabrica dispositivos implantables.
                     
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block header %}
    <h1>Bienvenido</h1>
    <style>
        font-family: Arial, sans-serif;
        align = "center"
    </style>
{% endblock %}

</html>